<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyFavouriteThing</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pictureIntro.css">


</head>
<body>


<h1><%= title %></h1>

<div class="container">

    <div class="bm">
        <a href="/upload">
            <button type="upload" class="btn">upload</button>
        </a>
        <a href="/home">
            <button type="logout" class="btn">logout</button>
        </a>
        <a href="/lbs">
            <button type="map" class="btn">map</button>
        </a>
        <a href="/more">
            <label id="more">more>></label>
        </a>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/gintama.jpg" style="max-width: 100%;" id="1"/>
        </div>

        <div class="txt">
            <p>银魂——一入银魂深似海，从此节操是路人</p>
        </div>
        <div class="bm">
            <a href="/editPicture/gintama.jpg">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/gintama.jpg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/gintama.jpg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/tianzhongjun.jpg" style="max-width: 100%;" id="tianzhongjun.jpg"/>
        </div>

        <div class="txt">
            <p>田中君总是如此慵懒</p>
        </div>
        <div class="bm">
            <a href="/editPicture/tianzhongjun.jpg">
                <button type="edit" class="btn" >Edit</button>
            </a>
            <a href="/addItem/tianzhongjun.jpg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/tianzhongjun.jpg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/YamazakiKento.jpg" style="max-width: 100%;" id="3"/>
        </div>

        <div class="txt">
            <p>山崎贤人——一个漫改不会被遗忘的演员</p>
        </div>
        <div class="bm">
            <a href="/editPicture/YamazakiKento.jpg">
                <button type="edit" class="btn" >Edit</button>
            </a>
            <a href="/addItem/YamazakiKento.jpg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/YamazakiKento.jpg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/zyl.png" style="max-width: 100%;" id="4"/>
        </div>

        <div class="txt">
            <p>色令智昏居老师啊</p>
        </div>
        <div class="bm">
            <a href="/editPicture/zyl.png">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/zyl.png">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/zyl.png">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/nazimie.jpeg" style="max-width: 100%;" id="5"/>
        </div>

        <div class="txt">
            <p>因此沉迷卡米亚and so on</p>
        </div>
        <div class="bm">
            <a href="/editPicture/nazimie.jpeg">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/nazimie.jpeg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/nazimie.jpeg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/yumi.jpg" style="max-width: 100%;" id="6"/>
        </div>

        <div class="txt">
            <p>玉米抱着哈鲁酱哭的时候我怎么那么想笑呢</p>
        </div>
        <div class="bm">
            <a href="/editPicture/yumi.jpg">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/yumi.jpg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/yumi.jpg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/zhenhun.jpg" style="max-width: 100%;" id="7"/>
        </div>

        <div class="txt">
            <p>从沈教授入坑居老师</p>
        </div>
        <div class="bm">
            <a href="/editPicture/zhenhun.jpg">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/zhenhun.jpg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/zhenhun.jpg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/chenggu.jpeg" style="max-width: 100%;" id="8"/>
        </div>

        <div class="txt">
            <p>城谷的人设非常非常喜欢</p>
        </div>
        <div class="bm">
            <a href="/editPicture/chenggu.jpeg">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/chenggu.jpeg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/chenggu.jpeg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <img src="/images/shichu.jpg" style="max-width: 100%;" id="9"/>
        </div>

        <div class="txt">
            <p>初见之时绝没有想到自己会如此喜欢你</p>
        </div>
        <div class="bm">
            <a href="/editPicture/shichu.jpg">
                <button type="edit" class="btn">Edit</button>
            </a>
            <a href="/addItem/shichu.jpg">
                <button type="addItem" class="btn">addItem</button>
            </a>
            <a href="/addLabel/shichu.jpg">
                <button type="addLabel" class="btn">addLabel</button>
            </a>
        </div>
    </div>
</div>
</body>
<!--<script>
    function getAddress(longitude, latitude) {
        var address;
        //通过baiduMap API获取街道名称
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(longitude, latitude);
        var gc = new BMap.Geocoder();
        gc.getLocation(point, function(rs) {

            var addComp = rs.addressComponents;

            address = addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
            //$("#1").attr('src',address);
            console.log(address)
        });
    }

    function DW(){
        var map = new BMap.Map("allmap");
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                var mk = new BMap.Marker(r.point);
                map.addOverlay(mk);
                map.panTo(r.point);
                getAddress(r.point.lng,r.point.lat);
            }
            else {
                alert('failed'+this.getStatus());
            }
        });
    }

    (function(){
        // getAddress(116.404,39.915);
        DW();
    });

</script>-->
	<!--<script language="javascript">
    	var pic;

    	function pic1(){
    		pic=document.getElementById('1');
    		alert(pic.src);

    		var picurl=pic.src;

    		var url = encodeURI("editPicture.html?~" + pic.src);
			window.location.href=url;


    		$.ajax({
                type: "POST",
                url: "http://localhost:3000",
                data: {"picUrl":picurl},
                dataType: "json",
                success : function(result){
                    var str = eval(result).data;
                    if(str=="true"){
                        alert("success");
                    }
                    else{
                        alert("fail")
                    }
                },
                error: function () {
                    alert("异常");
                },
            });
    	}

    	function pic2(){
    		pic=document.getElementById('2');
    		alert(pic.src);
    	}

    	function pic3(){
    		pic=document.getElementById('3');
    		alert(pic.src);
    	}

    	function pic4(){
    		pic=document.getElementById('4');
    		alert(pic.src);
    	}

    	function pic5(){
    		pic=document.getElementById('5');
    		alert(pic.src);
    	}

    	function pic6(){
    		pic=document.getElementById('6');
    		alert(pic.src);
    	}

    	function pic7(){
    		pic=document.getElementById('7');
    		alert(pic.src);
    	}

    	function pic8(){
    		pic=document.getElementById('8');
    		alert(pic.src);
    	}

    	function pic9(){
    		pic=document.getElementById('9');
    		alert(pic.src);

    		$.ajax({
                type: "POST",
                url: "TransPictureUrlServlet",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(GetJsonData()),
                dataType: "json",
                success: function (data) {
                    if (data!=null) {
                        alert("请求已提交！");
                    }
                },
                error: function (data) {
                    $("#request-process-patent").html("提交数据失败！");
                }
            });
    	}




	</script>-->

</html>